{% extends 'base.html' %}

{% block title %}Benefícios que as empresas oferecem {% endblock %}

{% block content %}

<div class="row">
    <div class="col">        
        <br />
                <h4 class="card-title text-center">Benefícios</h4>
                <br />
                <h5 class="card-title text-center">Quais os benefícios mais oferecidos pelas Empresas Âncoras?</h5>            
                    {% csrf_token %}  
                    {{ dados  }}

                    <p> 
                        As informações sobre os benefícios foram coletadas nos sites e no linkedin das empresas âncoras. Esses benefícios oferecidos foram listados, permitindo a apresentação do dashboard a seguir:
                    </p>
                        <div class="text-center">
                        <iframe width="1000" height="700" src="https://datastudio.google.com/embed/reporting/9b3081eb-5b11-4b4e-bb62-8ff6117ffcbd/page/p_6ax0hf73xc" frameborder="0" style="border:0" allowfullscreen></iframe>

                        <br />
                        <br />
                        <br />
                    <h5 class="card-title text-center">O que os candidatos acham desses benefícios?</h5>
                    <p>
                        Então, foi feita uma conexão do servidor na nuvem com o DataStudio para apresentar os dados dos benefícios nesse gráfico lindão que vocês estão vendo. Para enxergar melhor os dados, nós usamos um gráfico de barras laterais, tendo no eixo y as empresas, e no eixo x os benefícios, que também podem ser escolhidos através de uma lista suspensa. Então, você pode ver os benefícios mais comuns na área de TI, sendo que, os que mais aparecem são: vale alimentação, plano de saúde e vale transporte. E essas informações foram muito importantes para o nosso projeto, o motivo, vão descobrir agora!

                    </p>
                    <br />
                    <br />
                    <img src="https://cdn.sonicadigital.com.br/entra21/storage/custom-page/1533/800x600-62be21fcd33b9.png" alt="farmaciasapp"/>
    </div>
</div>

{% csrf_token %}  

</div>
{% endblock %}