{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
                <h4 class="card-title text-center">Perfil das Empresas e Alunos do Entra21</h4>        
                    {% csrf_token %}  
                    {{ dados  }}

                    <p> 
                        Sabe aquele momento da tua vida que você fala: “quero um novo emprego” e fica se perguntando por onde começar? Você abre vários sites de empresas, busca vagas no Linkedin e a seção de Trabalhe Conosco já tá nos seus favoritos. - gravar a tela das âncoras nesta parte do Trabalhe Conosco.
                    </p>                         
                        E aí você se pergunta: afinal, qual empresa quero entrar? qual combina comigo? Como seria minha rotina de trabalho? o quanto quero receber de salário? Que benefícios eu quero além do salário?
                    </p>    
                        E quando nós falamos em empresas com muitos benefícios, as de TI acabam se destacando, sendo referência no mercado de trabalho. Pensando nisso, nós reunimos os benefícios das 11 empresas âncoras do Programa ENTRA21 - um dos maiores programas de empregabilidade, que busca capacitar gratuitamente na área de tecnologia da informação.
                    </p>                         
                        As empresas âncoras são: ambevtech, Central Ailos, Capgemini, Datainfo, FarmáciasAPP, HavanLabs, Philips, Senior, T-Systems, Unifique e Warren. Mas, nessa pesquisa nós vamos apresentar essas empresas através de números distribuídos aleatoriamente.                     
                        
                    </p>
<video width="320" height="'240" controls="controls" autoplay="autoplay"
source src = "https://www.youtube.com/watch?v=1fqnXZ7G5k0" type="video/mp4">
<object data="" widtch="320" heigth="240">
<embed widtch="320" height="240" src="https://www.youtube.com/watch?v=1fqnXZ7G5k0">

</object>
</video>
</div>
</div>

{% endblock %}