{% extends 'base.html' %}

{% block title %}Sobre projeto{% endblock %}

{% block content %}

{% csrf_token %}  

<p>

    {{ dados  }}  

</p>

<div class="row">
  <div class="col-md-12">
    <br>
    <h4 class="card-title text-center">Sobre o Projeto </h4>
    <p class="texto">

      O projeto deverá analisar dados do <b>ENTRA21</b>.

    </p>

<br><br>
<h4 class="card-title text-center">Sobre os Desenvolvedores</h4>
  </div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Alice dos Santos Mellies</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/alice-mellies" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/alice-mellies-1352051bb/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:christifabi@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQFoljryE60Fqg/profile-displayphoto-shrink_800_800/0/1517398070686?e=1670457600&v=beta&t=_NWfLRdYIBmjZ5K0sDUnzpvCwv6KwjP2CfqodDgsnXg)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Christiane Fabíola Momm</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/christifabi" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/christiane-fab%C3%ADola-13688526/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:admin@machado.tec.br" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/89116697)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Fernando Oliveira da Rosa</div>
    </h5>
    <div class="mb-4 text-muted">São Joaquim</div>
    <a href="https://github.com/1982For" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/fernando-oliveira-da-rosa-800960151/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:diogolindemann@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/104396832)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Karen Godoi van Mierlo</div>
    </h5>
    <div class="mb-4 text-muted">Castro</div>
    <a href="https://github.com/karenmierlo" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/karen-godoi-van-mierlo-51a604207/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:karen.mierlo@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/104402499)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Saymon Luciano Casas</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/saymonx" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/saymon-casas-84109620b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:luh.s.naiara@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/104043545)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Tailaine Lemes</div>
    </h5>
    <div class="mb-4 text-muted">Concórdia</div>
    <a href="https://github.com/Tailaine" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/tailaine-lemes-98435a22a/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:marcelo.takahashi.75@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/104110666)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Adriano Machado</div>
    </h5>
    <div class="mb-4 text-muted">Guaratuba</div>
    <a href="https://github.com/Machado-tec" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
    <a href="https://www.linkedin.com/in/xadrak/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a>
    <a href="mailto:sylviocjr.dev@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://avatars.githubusercontent.com/u/96093825)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
</div>
</div>
<div class="mt-5">

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
crossorigin="anonymous"></script>
<script src="/static/js/scripts.js"></script>
  

{% endblock %}