{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col">
        <br />        
        <h5 class="card-title text-center">Os entrevistados </h5> <br />       
                <h6 class="card-title text-center"> Sobre os entrevistados: os alunos | futuros candidatos </h6> 
                    {% csrf_token %}  
                    <p> 
                        Afinal, quem é o público do Programa Entra21? Nesta pesquisa, que ocorreu por amostragem, pudemos ter uma ideia das principais características dos estudantes do programa que tem interesse em adentrar no mercado de trabalho de tecnologia.
                    </p><p>
                        As respostas obtidas permitiram uma visão sobre a diversidade presente no Programa Entra21 (gênero, faixa etária, se há alunos com necessidades especiais), e também sobre seu conhecimento em outro idioma. Os dados coletados sobre o perfil dos alunos são apresentados no dashboard a seguir:
                    </p>
                    <br />
                    <div class="text-center">
                        <iframe-foxy class="resizea">

                            <iframe name="Reload" class="desktop"
                                src="https://datastudio.google.com/embed/reporting/4db99549-6832-42ec-9dc3-7cc227cf725e/page/p_2rw3gxgezc"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                        </iframe-foxy>
                    </div>
                    <p>
                        A faixa etária de maior destaque concentra-se entre 15 a 20 anos, seguido por 21 a 25 anos, ou seja, quase 50% dos alunos respondentes do formulário, que integram os diferentes cursos do Programa Entra21, encontram-se entre 15 a 25 anos de idade. A minoria dos respondentes faz parte das faixas etárias de 51 a 60 anos, o que demonstra que mesmo havendo uma preocupação do Programa Entra21 com a diversidade e inclusão, ainda não há paridade, ou significativa representatividade, de pessoas acima dos 50 anos de idade.</p>
                    <p>
                        O gênero predominante é o masculino, com 157 alunos respondentes. Esse número representa maciça participação masculina (72%), e de certo modo, ainda reflete a realidade na área de tecnologia. A quantidade de alunas respondentes, e de pessoas que identificam-se como não-binários, mulher trans e outros não chegam a representar (27%) do total. 
                    </p>
                    <p>
                        Quanto aos idiomas, o inglês foi a alternativa de maior destaque, com 152 alunos indicando que possuem conhecimento sobre a língua inglesa, seguida pelo espanhol com 32. É importante ressaltar que 58 alunos assinalaram a resposta “nenhuma das alternativas”, o que pode indicar que as empresas interessadas em contratar os alunos do Programa Entra21, que exijam o conhecimento de um outro idioma, em algum momento, deverão investir na formação ou qualificação de seus futuros colaboradores no que se refere a esse quesito.
                    </p>
                    <p>
                        Quanto às pessoas com deficiência (PCD), 1,4% dos respondentes possuem deficiência. 
                    </p>
                    <p>
                        Em relação aos cursos com maior número de respondentes, destacam-se os cursos de C#, Python e Java. Os cursos de Python e Java foram ofertados nas modalidades presencial e online. Os cursos Suporte de TI e Android apresentaram o menor número de participantes respondentes na pesquisa.
                    </p>
                    <p>
                        Para responder esta pesquisa participaram alunos dos três turnos ofertados de forma equilibrada: período vespertino destaca-se com 36,6%, seguido pelo turno noturno com 32,4% e, por fim, o período matutino com 31%.
                    </p>
                    <p>    
                        Se pudéssemos criar uma persona do estudante seria: homem, com 18 anos, sem deficiência e que tem conhecimento em Língua Inglesa. </p>
                    <br/><br/>
    </div>
</div>
</div>
{% csrf_token %}  
{% endblock %}