{% extends 'base.html' %}

{% block title %}Benefícios que as empresas oferecem {% endblock %}

{% block content %}

<div class="row">
    <div class="col">        
        <br />
                <h4 class="card-title text-center">Benefícios</h4>
                <br />
                <h5 class="card-title text-center">Quais os benefícios mais oferecidos pelas Empresas Âncoras?</h5>            
                    {% csrf_token %}  
                    {{ dados  }}

                    <p> 
                        As informações sobre os benefícios foram coletadas nos sites e no linkedin das empresas âncoras. Esses benefícios oferecidos foram listados, permitindo a apresentação do dashboard a seguir:
                    </p>
                        <div class="text-center">
                            <iframe-foxy class="resize">

                                <iframe name="Reload" class="desktop"
                                    src="https://datastudio.google.com/embed/reporting/636beb24-008f-4bb1-b50f-3a00b7ee2056/page/p_9ejnfsdezc"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                
                                    <iframe name="Reload2" class="mobile"
                                    src="https://datastudio.google.com/embed/reporting/636beb24-008f-4bb1-b50f-3a00b7ee2056/page/p_9ejnfsdezc"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="mask"></div>
                            </iframe-foxy>

                            <iframe-foxy class="resize">

                                <iframe name="Reload" class="desktop"
                                    src="https://datastudio.google.com/embed/reporting/6367f3a0-ce0f-43d9-b3cd-f7c85bf3f417"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                
                                    <iframe name="Reload2" class="mobile"
                                    src="https://datastudio.google.com/embed/reporting/6367f3a0-ce0f-43d9-b3cd-f7c85bf3f417"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="mask"></div>
                            </iframe-foxy>
                        <br />

    </div>
</div>

{% csrf_token %}  

</div>
{% endblock %}