{% extends 'base.html' %}

{% block title %}Benefícios que as empresas oferecem {% endblock %}

{% block content %}

<div class="row">
    <div class="col">        
        <br />
                <h5 class="card-title text-center">Benefícios</h5>
                <br />
                <h6 class="card-title text-center">Quais os benefícios mais oferecidos pelas Empresas Âncoras?</h6>            
                    {% csrf_token %}  
                    {{ dados  }}
                    <p> 
                        As informações sobre os benefícios foram coletadas nos sites e no linkedin das empresas âncoras. Esses benefícios oferecidos foram listados, permitindo a apresentação do dashboard a seguir:
                    </p>
                        <div class="text-center">
                            <iframe-foxy class="resizeb1">

                                <iframe name="Reload" class="desktop"
                                    src="https://datastudio.google.com/embed/reporting/cf2f735b-058c-42b6-a615-bfa35ed98b5a/page/p_9ejnfsdezc"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                
                                    <iframe name="Reload2" class="mobile"
                                    src="https://datastudio.google.com/embed/reporting/cf2f735b-058c-42b6-a615-bfa35ed98b5a/page/p_9ejnfsdezc"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="mask"></div>
                            </iframe-foxy>

                            <iframe-foxy class="resizeb2">

                                <iframe name="Reload" class="desktop beneficios"
                                    src="https://datastudio.google.com/embed/reporting/5d3cb2c4-63f0-49a5-b3ae-82914c8c8ad9"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                
                                    <iframe name="Reload2" class="mobile"
                                    src="https://datastudio.google.com/embed/reporting/5d3cb2c4-63f0-49a5-b3ae-82914c8c8ad9"
                                    frameborder="0" style="border:0" allowfullscreen></iframe>
                                <div class="mask"></div>
                            </iframe-foxy>
                        <br />

    </div>
</div>

{% csrf_token %}  

</div>
{% endblock %}