{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

{% csrf_token %}  

<div class="row">
    <div class="col">
        <br />        
        <h4 class="card-title text-center">As empresas </h4> <br />       
                <h5 class="card-title text-center"> Sobre as Empresas Âncoras do Entra21 </h5> 
                    {% csrf_token %}  
                    {{ dados  }}
                    <br />
                    <p> 
                        Outro ponto pesquisado em nosso projeto refere-se aos benefícios de maior interesse por parte dos alunos do Programa Entra21. O dashboard abaixo não deixa dúvidas sobre a seleção de benefícios como vale-refeição, plano de saúde e odontológico e outros. 
                    </p><p>

                    </p>
                    <br />
                    <div class = "text-center">  
                        <iframe width="1000" height="700" name="Reload" class="desktop" src="https://datastudio.google.com/embed/reporting/e304ebed-cd81-43c1-bcba-38e1b8d9ec15/page/p_8jjm70xxyc" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div><br />
    </div>
</div>

{% endblock %}