{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

{% csrf_token %}  

<div class="row">
    <div class="col">
        <br />        
        <h5 class="card-title text-center">As empresas </h5> <br />       
                <h6 class="card-title text-center"> Sobre as Empresas Âncoras do Entra21 </h6> 
                    {% csrf_token %}  
                    {{ dados  }}
                    <p> 
                        Você ficou curioso sobre quais as empresas de maior interesse selecionadas pelos alunos e se eles pesquisaram sobre os benefícios?! Confira os resultados abaixo:

                    </p><p>

                    </p>
                    <br />
                    <div class = "text-center">  
                        <iframe-foxy class="resize">

                            <iframe name="Reload" class="desktop"
                                src="https://datastudio.google.com/embed/reporting/c45cb9fb-3094-44c4-89e8-a4332a2bf149/page/p_iai3nfkezc"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                            
                                <iframe name="Reload2" class="mobile"
		                        src="https://datastudio.google.com/embed/reporting/c45cb9fb-3094-44c4-89e8-a4332a2bf149/page/p_iai3nfkezc"
		                        frameborder="0" style="border:0" allowfullscreen></iframe>
	                        <div class="mask"></div>
                        </iframe-foxy>
                    </div><br />
    </div>
</div>

{% endblock %}