{% extends 'base.html' %}

{% block title %}Lista de Tags{% endblock %}

{% block content %}

{% csrf_token %}  

<div class="container">
<div class="row">
    <div class="col">
        <br />        
        <h5 class="card-title text-center">As empresas </h5> <br />       
                <h6 class="card-title text-center"> Sobre as Empresas Âncoras do Entra21 </h6> 
                    {% csrf_token %}  
                    {{ dados  }}
                    <p> 
                        Você ficou curioso sobre a opinião dos alunos à respeito do que eles almejam para o mercado de trabalho? O que consideram mais importante de ter como benefício, quais empresas desejam entrar, e até mesmo em qual modalidade querem trabalhar?! Confira os resultados abaixo:
                    </p>
                    <br />
                        <iframe-foxy class="resizee">

                            <iframe name="Reload" class="desktop"
                                src="https://datastudio.google.com/embed/reporting/c45cb9fb-3094-44c4-89e8-a4332a2bf149/page/p_iai3nfkezc"
                                frameborder="0" style="border:0" allowfullscreen></iframe>
                        </iframe-foxy>
                    <p>
                        Podemos perceber que os alunos estão interessados em trabalhar nas empresas âncoras, afinal, 94% dos respondentes já pesquisaram sobre seus benefícios! 
                        </p>
                    <p>
                        Os alunos puderam selecionar até 3 benefícios de maior interesse. Os que mais se destacaram na seleção dos alunos foram: plano de saúde, vale-alimentação, plano de carreira e oportunidades no exterior. Os benefícios de menor interesse foram convênio escola, associação recreativa, auxílio-creche, apoio jurídico.</p>
                    <p>
                        Em relação à preferência por tipo de vaga, 67,4% dos alunos possuem interesse em vagas para efetivos e 32,6% possuem interesses em vagas de estágio.
                    </p>
                    <p>
                        A preferência pelo modelo de trabalho demonstrou que 46,2% dos alunos possuem interesse em trabalhar de forma híbrida, seguido pelo modelo remoto com 27,8% e 26% de forma presencial.
                    </p>
                    <p>
                        Os alunos selecionaram as três empresas de maior interesse para trabalhar com base nos benefícios oferecidos - empresas com nomes anônimos. Dentre as mais votadas estão: Empresas 2, 4 e 5.
                    </p><br />
                    <h6>
                        <b>Quer saber qual é a empresa de preferência dos alunos? Aquela que eles mais votaram? Entre em contato com a gente!</b>
                    </h6>
                    
                    <br /><br />

    </div>
</div>
</div>
{% endblock %}