{% extends 'base.html' %}

{% block title %}Benefícios que as empresas oferecem {% endblock %}

{% block content %}

<div class="container">
<div class="row">
    <div class="col">        
        <br />
                <h5 class="card-title text-center">Qual empresa de TI tem sua cara?</h5>
                <br />
                <h6 class="card-title text-center"> Você já parou para pensar sobre "Qual empresa de TI tem a sua cara"?!</h6>            
                    {% csrf_token %}  
                    {{ dados  }}
                    <p>
                    Para você que busca uma vaga no mundo do trabalho, na área de Tecnologia da Informação e Comunicação (TIC), o atrativo pode não ser apenas um bom salário, mas também, todos os benefícios oferecidos pela empresa em que você deseja trabalhar!
                </p><p>    
                    Ao pensarmos sobre isso, optamos por fazer um levantamento dos benefícios oferecidos pelas empresas âncoras do Programa Entra21: Ambevtech, Central Ailos, Capgemini, Datainfo, FarmáciasAPP, HavanLabs, Philips, Senior, T-Systems, Unifique e Warren, Pesquisamos as informações nos sites e também no Linkedin das empresas. Para saber mais sobre o Programa ENTRA21, <a href="https://www.entra21.com.br/" target="_blank">clique aqui.</a>
                </p><p>
                    Mas, nessa pesquisa nós vamos apresentar essas empresas através de números distribuídos aleatoriamente.                    
                </p><p>    
                    E se além dos benefícios, você estiver procurando por uma empresa que lhe permita trabalhar na modalidade híbrida ou ainda uma empresa que possibilite, no futuro, você trabalhar em outro país? Ficou interessado em saber mais sobre os benefícios que podem vir com a oferta de uma das empresas? 

                </p><p>   
                    Para conhecermos o perfil dos alunos do Programa Entra21, as empresas âncoras de seu  interesse e o curso que integram, optamos pela aplicação de um survey contendo 13 perguntas, dentre elas: 
                </p><p>
                        &emsp; 1. Curso que o aluno frequenta no programa ENTRA21 <br />
                        &emsp; 2. Modalidade do curso (presencial, on-line) <br />
                        &emsp; 3. Período em que as aulas ocorrem <br />
                        &emsp; 4. Idade <br />
                        &emsp; 5. Identificação de gênero <br />
                        &emsp; 6. Se possui alguma deficiência (PcD) <br />
                        &emsp; 7. Se já pesquisou sobre as empresas âncoras do Programa Entra21 e quais benefícios que elas oferecem aos seus colaboradores <br />
                        &emsp;  8. Quais as 3 empresas âncoras que eles escolheriam para trabalhar quando finalizarem o curso <br />
                        &emsp; 9. Através do gráfico que contém os benefícios que as empresas oferecem, quais as 3 empresas que eles escolheriam para trabalhar quando finalizarem seu curso <br />
                        &emsp; 10. Os 3 principais benefícios que considera mais relevantes na empresa que deseja trabalhar <br />
                        &emsp; 11. Qual modalidade prefere para trabalhar (presencial, remoto, híbrido) <br />
                        &emsp; 12. Se pretende ser efetivo ou realizar estágio quando for trabalhar <br />
                        &emsp; 13. Idiomas que possui conhecimento
                        </p>
                        <p>
                        Ficou curioso sobre o resultado?!
                        Então, navegue pelas próximas abas…    
                    </p>
                    <br />

                    <br />
    </div>
</div>
</div>
{% csrf_token %}  
{% endblock %}