{% extends 'base.html' %}

{% block title %}Sobre projeto{% endblock %}

{% block content %}

{% csrf_token %}  

<div class="row">
  <div class="col-md-12">
    <br>
    <h5 class="card-title text-center">Sobre o Projeto </h5>
    <p class="texto">

      <p>A concepção desse trabalho de conclusão de curso, da carreira de Analista de Dados (online), partiu da ideia de que o Programa ENTRA21 tem como objetivo a empregabilidade, permitindo que os alunos selecionados para participarem do programa possam ser direcionados e contratados pelas empresas âncoras e, posteriormente, ficarem também à disposição das empresas cotistas.</p>
      <p>Buscamos aplicar os conhecimentos adquiridos ao longo do curso e pesquisamos em outras fontes e de outras formas para entregarmos esse projeto, utilizando as ferramentas e os recursos que nos foram ensinados e disponibilizados. Tudo foi desenvolvido sob a supervisão do Prof. Adriano Machado.</p>

    </p>

<br><br>
<h5 class="card-title text-center">Sobre os Desenvolvedores</h5>
  </div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Alice dos Santos Mellies</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/alice-mellies" target="_blank">
      <i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/alice-mellies-1352051bb/" target="_blank">
      <i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:melliesalice@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQHXejZnO3qCmw/profile-displayphoto-shrink_800_800/0/1652197615018?e=1671062400&v=beta&t=GRasi-AyD7z02Sqf03TSHHqaaWwhkyEG6Yzor3OxrqI)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Christiane Fabíola Momm</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/christifabi" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/christiane-fab%C3%ADola-13688526/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:christifabi@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQFoljryE60Fqg/profile-displayphoto-shrink_800_800/0/1517398070686?e=1671062400&v=beta&t=IPkAG-0lIUmY4_26OMC4BMdeC3-afIirtxW0vA770S8)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Fernando Oliveira da Rosa</div>
    </h5>
    <div class="mb-4 text-muted">São Joaquim</div>
    <a href="https://github.com/1982For" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/fernando-oliveira-da-rosa-800960151/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:crvgscti@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQGeIqDJv-XgHA/profile-displayphoto-shrink_800_800/0/1517500755069?e=1671062400&v=beta&t=0CCYYC93VICVsNhIOQ2ZSQdrBe_2Lykxjnr5e2e9VG8)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Karen Godoi van Mierlo</div>
    </h5>
    <div class="mb-4 text-muted">Castro</div>
    <a href="https://github.com/karenmierlo" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/karen-godoi-van-mierlo-51a604207/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:karen.mierlo@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://i.ibb.co/swR5rdB/DSC-5492-Copia-2.jpg)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Saymon Luciano Casas</div>
    </h5>
    <div class="mb-4 text-muted">Blumenau</div>
    <a href="https://github.com/saymonx" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/saymon-casas-84109620b/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:saymonzluciano@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQH0fEVit0oiRA/profile-displayphoto-shrink_800_800/0/1653484307807?e=1671062400&v=beta&t=plQtBcr5JxwCIm4A3tW6IcBtMU_gqB9kb6z0mKnJ5iE)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Tailaine Lemes</div>
    </h5>
    <div class="mb-4 text-muted">Concórdia</div>
    <a href="https://github.com/Tailaine" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/tailaine-lemes-98435a22a/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:tailaine15@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://i.ibb.co/x2gMQW8/In-Shot-20221013-203211426.jpg)50% 0;"
   ></div>
</div>
</div>
</div>
<div class="row mb-2">
<div class="col-lg-6">
<div class="card-cur flex-md-row mb-4 box-shadow h-md-250">
  <div class="card-body d-flex flex-column align-items-start">
    <h5 class="mb-0">
      <div class="text-dark">Adriano Machado</div>
    </h5>
    <div class="mb-4 text-muted">Guaratuba</div>
    <a href="https://github.com/Machado-tec" target="_blank"><i class="fab fa-github"></i> Github</a>
    <a href="https://www.linkedin.com/in/xadrak/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
    <a href="mailto:adriano@obomprofessor.app.br" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i>Email</a>
  </div>
  <div class="card-avatar" alt="" style="background:url(https://media-exp1.licdn.com/dms/image/C4D03AQFwBdUKAgKoWw/profile-displayphoto-shrink_800_800/0/1635251848596?e=1671062400&v=beta&t=YEH4opLdl-zvAyeZMC1Zo1OKVmo-f02PlrYz900xXdQ)50% 0;"
   ></div>
</div>
</div>
<div class="col-lg-6">
</div>
</div>
<h5 class="card-title text-center">Agradecimentos</h5>
<p class="texto">

  <p>Nossos agradecimentos aos Patrocinadores do Programa Entra21 e a todos os instrutores envolvidos e comprometidos com a nossa formação. Agradecemos também ao nosso ‘mentor’, Prof. Adriano Machado, e a todos os colegas que contribuíram para que pudéssemos concluir esse projeto e o curso de Analista de Dados.</p>
</p>
<div class="mt-5">

<script src="https://code.jquery.com/jquery-3.4.0.min.js"
integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
crossorigin="anonymous"></script>
<script src="/static/js/scripts.js"></script>
  

{% endblock %}