p {
    text-align: justify;
    line-height: 1.5;
    margin: 10px 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    /*letter-spacing: 1px;*/
}

li {
    text-align: justify;
    margin: 0px 10px;
    font-weight: bold;
}

body{
    background-color: #fafafa;
    /*font-family:*/
}

h6,h4,h5 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol {
    letter-spacing: 1px;
    line-height: 1px;
}

.texto {
    line-height: 50px;
}


.desktop {
    display: inline-block !important;
}

.mobile {
    display: none !important;
}

.card-title {
    font-weight: 600;
    /*margin-bottom: 30px;
    text-transform: uppercase;*/
}

.container-fluid {
    padding: 0;
}

.container-fluid .row {
    margin: 0;
}

/* Navbar */

/*dá a cor as letras quando passa a letra em cima*/
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #2C2F38;
}

.navbar  {
    border-bottom: 1.5px solid #1A73E8;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 0px 15px;
    background-color: #2C2F38 !important;
}

/*barra do nome das abas */
.navbar-nav {
    margin: auto;
        transform: translateX(15px);
}


/*barra do cantinho esquerdo*/
.navbar-brand {
    /*font-weight: bold; */
    font-size: 15px;
    font-family: rockwell;
    color: rgb(250, 250, 250) !important;
}

.navbar-brand img {
    width: 250px;
}

/*barra do nome das abas*/
.navbar-light .navbar-nav a.nav-link {
    color: rgb(250, 250, 250);
    letter-spacing: 1px;
    font-family: rockwell;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
}

/*dá a cor do quadrado quando passa o mouse em cima*/
.navbar-nav .nav-item a.nav-link:hover {
    background-color: #ededed;
}

.bloco {
    text-align: right;
}

.bloco button {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px;
    background: #28a791;
    border: none;
    transition: all .5s ease;
    min-width: 220px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.bloco button:hover {
    background: #3c398a;
}

.bloco button:focus {
    outline: none !important;

}

.bloco ul {
    text-align: left;
}

.bloco ul li {
    margin-bottom: 10px;
}

/* dashboard */
.dashboard {
    padding: 0;
    width: 100%;
    display: block;
}

.dashboard h4 {
    font-size: 20px;
    
}

.dashboard span {
    font-size: 40px;
    display: block;
    width: 100%;
}

.dashboard-box {
    float: left;
    background-color: #2E2D33;
    color: #2E2D33;
    padding: 20px;
    box-sizing: border-box;
    height: 80%px;
    width: 100%;
    text-align: center;
}

.dashboard-box:nth-child(2) {
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#dashboard-lastdays {
    background-color: #3476e2;
}

#dashboard-done {
    background-color: #13c43f;
}

#dashboard-doing {
    background-color: #db1e47;
}

/* Botão de adicionar */


#add-link {
    text-decoration: none;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: rgb(119, 95, 95);
    padding: 8px;
    border-radius: 5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: rgb(58, 105, 131);
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */

.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* filter */
.filter-div {
    margin-bottom: 15px;
    padding: 0;
}

#filter {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
}

/* Lista de tarefas */

.list-div {
    padding: 0;
}

.task-list {
    padding-left: 0;
}

.task-item {
    list-style: none;
    font-size: 20px;
    height: 50px;
    padding: 0 15px;
    padding-top: 10px;
    border-bottom: 1px dashed #2E2D33;
}

.task-item.done {
    background-color: #2E2D33;
}  

.fas.fa-trash {
    color: #db1e47;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fas.fa-edit {
    color: #13c43f;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.fa-check {
    color: rgb(68, 150, 28);
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
}

.done .fa-check {
    color: #3476e2;
}

/* Rodapé */
footer {
    background-color: #2C2F38;
    height: 30px;
    border-top: 1.5px solid #1A73E8;
    position:unset;
    padding-left: -20%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    margin-top: 60px;

}

footer p {
    color: #f5f5f5;
    text-align: center;
    top: 20%;
    /* position: relative; */
    font-family: rockwell;
    font-size: 10px;
}

img {
    display: block;
    margin: 0 auto;
  }

/* Messages */

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}

/* Paginação */
.pagination {
    margin-bottom: 20px;
}

.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}

/* login */

.auth-card {
    margin-bottom: 30px;
}

.change-form-p {
    margin-top: 30px;
    text-align: center;
}

iframe-foxy {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    z-index: 2;
    max-width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 80px;
}

iframe-foxy iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67%;
}

.resizee {
    padding-bottom: 90%;
}

.resizea {
    padding-bottom: 109%;
}

.resizeb1 {
    padding-bottom: 109%;
}

.resizeb2{
    padding-bottom: 70%;
}

.dropdown-menu {
    background-color: #343538;
    border-radius: 0;
    padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {

    background-color: #28a791;

}


.dropdown-item {
    font-weight: 300;
    color: #ffffff;
    padding: 10px 15px;
}

.card {
    background-color: #202124;
    border-radius: 0;
    margin-bottom: 1px;
    border: none;
}

.card-header {

    border-bottom: none;
}

.card-body {
    background-color: #fff;
    text-align: justify;
}


.btn-link {
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 15px;
    transition: all ease .3s;
    border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
    color: #fff;
    text-decoration: none;
    background: #28a791;
}

.card-header {
    padding: 0;
}


.card-avatar{
    width: 178px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.card-cur {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    
}

.card-cur .card-body {
    text-align: left;
    padding: 20px 7px 20px 20px;
}


.card-body .fa {
    min-width: 20px;
}

.text-dark {
    text-align: left;
    font-size: 18px;
}
.text-muted{
    font-size: 13px;
}

.card-body a{
    color: #222;
    font-weight: 400;
    transition: all ease .3s;
}
.card-body a:hover, .card-body a:focus{
   text-decoration: none;
   color: #28a791;
}


@media (max-width: 1200px) {
    .navbar-expand-lg {

        flex-flow: column;

    }
}

@media (max-width: 992px) {

    .container {
        max-width: 100%;

    }



    .navbar-expand-lg {

        flex-flow: row nowrap;

    }

    .navbar-nav {
        transform: translateX(0px);
    }

    .navbar-collapse {
        text-align: center;
        max-height: none;
        position: absolute;
        width: 100%;
        left: 0px;
        background: rgb(32 33 36);
        overflow: hidden !important;
        z-index: 1000;
        top: 94px;
    }

    .navbar-brand img {
        width: 200px;
    }

    .navbar-toggler {
        padding: 10px;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0;
        background: #28a791;
        transition: all ease .5s;
    }

    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none;
        outline: none;
    }

    .navbar-toggler:hover {
        background: #3b3889;
    }

    .dropdown-item {
        text-align: center;
    }
}

@media (max-width: 720px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: inline-block !important;
    }

  

    .resize {
        padding-bottom: 133%;
    }

    .list-control-container md-checkbox .md-label {
        height: 26px;
        line-height: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
        font-size: 24px;
    }

    .text-dark {

        margin-top: 15px;
    }

    .card-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-right: 10px;
        margin-top: 10px;
    }

}

footer {

    margin-top: 0;
}
